body{
    margin: auto;
    width: 70%;
    background-image: url(img/grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body>img{
    margin-top: 5px;
    transform: scaleX(-1);
    width: 100%;
    height: 200px;
}

header ul{
    background-color: #ffffff;
    padding-left:0px ;
    list-style: none;
    width: 100%;
    display: inline-block;
    border: 1px black solid;
    box-shadow: 2.5px 5px black;
}

header ul li{
    padding-left: 0px;
    display: inline-block;
    width: 31.885%;
    border-right: 1px black solid;
    padding: 5px;
    text-align: center;
}

header ul li:hover,.pay-now:hover{
    background-color: #add8e6;
    cursor: pointer;
}

.booking-head{
    background-color: #5f9ea0;
}

input{
    margin-left: 350px;
}

.booking{
    padding: 10px;
    background-color: lightgreen;
    border-radius: 10px;
}

.pay-now{
    padding: 2px;
    margin-left: 10px;
    border: 1px black solid;
    box-shadow: 2.5px 3px black;
}

.bus{
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 1px black solid;    
    border-radius: 5px;
}

.seat{
    background-color: green;
    margin-left: 20px;
    display: inline-block;
    width: 120px;
    height: 45px;
    border: 1px solid black;
}



.payment{
    margin: auto;
    padding: 40px;
    width: 60%;
    background-color: lightgreen;
    border-radius: 10px;
}

.payment>span{
    font-size: 20px;
    margin-left: 21%;
}

fieldset{
    margin: auto;
    margin-top: 20px;
    width: 40%;
    border-radius: 5px;
}

.labels{
    display: inline-block;
    width: 0%;
}

.labels span{
    display: block;
    margin-bottom: 2px;
    width: 95px;
}

.inputs{
    display: inline-block;
    width: 5%;
}

.inputs input{
    margin-left: 200px;
    margin-top: 1px;
}

form .submit{
    position: absolute;
    margin-top: 112px;
    margin-left: 100px;
}




.confirm{
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5%;
    margin: auto;
    width: 30%;
    font-size: 20px;
    
}

.details{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 8px;
}