html{
    background-image:url(img/Garage-Services-Background.jpg) ;
    background-repeat: no-repeat; 
    background-size: cover;
}

body{
    margin: 1%;
}

#items{
    display: flex;
    justify-content: center;
}

#header-heading{
    display: inline;
    text-align: center;
}

#location{
    width: 100%; 
    height:300px ;
}

#img{
    float: left;
}

.item-div{
    margin: 2%;
    align-items: center;
}

.text{
    text-align: center;
}

.header{
    text-align: center;
}

