span, input{
    display: block;
    margin-left: 10px;
}

.replaceCharacter{
    display: flex;
}

span{
    margin-top: 10px;
}

input{
    margin-top: 8px;
}

button{
    margin-top: 10px;
    margin-left: 350px;
}