.content{
    display: block;
}

.header input{
    margin-top: 4%;
    float: none;
}

#right-content{
    text-align: center;
}

#left-content{
    margin-top: 3%;
    margin-left: auto;
}

#right-bottom{
    margin-top: 3%;
}