.container{
    width: 94%;
    margin: auto;
    border: 1px solid black;
}

.header{
    text-align: center;
}

#name{
    display:flex;
    justify-content:center ;
}

.header div{
    padding-top: 30px;
}

.header input{
    float: right;
    margin-right: 30px;
}

.content{
    margin: auto;
    margin-top: 5%;
    display: flex;
    width: 95%;
    height: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}

#left-content {
    margin: auto; 
    margin-left: 4%;
    margin-top: 10px; 
    margin-bottom: 20px;
    width: 75%;
    text-align: center;
    border: 2px solid black;
}

#left-content h2{
    text-align: center;
}

#left-content img{
    width: 80%;
    margin-bottom: 4%;
    align-items: center;
}

#left-content div{
   margin-bottom: 4%;
}

#right-content{
    margin:auto;
    margin-top: 10px;
    width: 80%;
    height: auto;
}

#right-top{
    margin: auto;
    width: 80%;
    height:50%;
    border: 2px solid black;
}

#right-top div, h4{
    margin-left: 3%;
}

#right-bottom{
    margin:auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    height:50%;
    border: 2px solid black;
}

#right-bottom h5{
    margin-left: 20px;
}

.social-link{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 20px;
    width: 42%;
    height: 20%;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}

.social-link img{
    margin-top: 10px;
    width: 30%;
}