*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ecf0f1;
}

header {
	width: 100%;
	height: 60px;
	background-color: #e67e22;
	display: flex;
	align-items: center;
}
header span {
	font-size: 22px;
	font-weight: bold;
	color: #ecf0f1;
	margin-left: 40px;
}
main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .form_container {
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.form .input_container {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	align-items: center;
}

.input_container input,
select,
textarea {
	border: none;
	outline: none;
}
input[type='text'],
input[type='email'],
input[type='tel'],
select {
	padding: 10px;
	border-radius: 5px;
}

label {
	color: #2c3e50;
	font-weight: bold;
}

input[type='submit'] {
	border: none;
	background-color: #1abc9c;
	color: #fafafa;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	display: block;
	outline: none;
}
.message {
	background-color: #2ecc71;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	border-radius: 10px;
	color: #fafafa;
	display: none;
}
.show_message {
	display: block;
}

.hide {
	display: none;
}

#toggle_button {
	border: none;
	outline: none;
	padding: 10px;
	margin-left: 40px;
	background-color: #34495e;
	color: #fafafa;
	border-radius: 10px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
