/* Identifications */

#nav{
    display: block;
    position: relative;
    right: 0px;
    top: 0px;
}

#aboutus>div{
    display: block;
}

#aboutus p{
    width: 90%;
}

#contactus>div{
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

#aboutus img{
    float: none;
    margin-left: 5%;
    width: 80%;
}