*{
    font-family: 'Open Sans' !important;
}

body{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

#header{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
}

#container>div{
    margin-bottom: 2%;
}

#header div{
    text-align: center;
    width: 100%;
}

#header a{
    background-image: url(img/devil.png);
    background-repeat: no-repeat ;
    background-position-x: 1%;
    background-position-y: 25%;
}

a span{
    visibility: hidden;
}

#content{
    display: flex;
}

#main-content{
    margin-left: 2%;
    width: 100%;
    border: 2px dashed black;
    border-radius: 20px;
    text-align: center;
    height: 450px;
}

#main-content p{
    text-align: left;
    margin-left: 10%;
    width: 80%;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

#left-block{
    width: 40%;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}

#left-block div{
    margin-top: 20%;
}




#aboutus, #contactus{
    border: 2px solid black;
    border-radius: 20px;
}

#aboutus>div{
    display: flex;
}

#aboutus h2{
    margin-left: 5%;
}

.about-content{
    margin-left: 50px;
    width: 90%;
}

.about-content-text p{
    text-align: left;
    padding-right: 3%;
    padding-bottom: 3%;
}

.about-img img{
    padding-top: 15%;
    width: 125%;
}

.about-img{
    padding-right: 4%;
}




#contactus>div{
    text-align: center;
    width: 40%;
    background-color: gray;
    margin-left: 30%;
    margin-bottom: 2%;
}

#contactus h2{
    margin-left: 2%;
}

#address span{
    display: block;
}   

a{
    color: black;
}

a:visited{
    color: red;
}

a:hover{
    color: blue;
}

#contactus a{
    color: darkgreen;
}

a h4{
    font-weight: normal;
}

#contactus h4{
    padding-top: 4%;
}