body{
    width: 100%;
    margin: 0;
}

.header
{
    background-color: #4267b2;
    width: 100%;
    height: 120px;
}

.header ul{
    display: inline-flex;
    list-style: none;
    padding-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.header ul li{
    margin: 15px;
    margin-top: 0px;
    padding: 10px;
    font-size: 15px;
    color: #a1b3d9;
}

.header ul li:last-child{
    border-left: #29487d 1px solid;
}

.header ul li:last-child:hover{
    background-color: inherit;
}

.header ul li a{
    text-decoration: none;
    color: #a1b3d9;
}

.header ul li a:hover{
    color: #ffffff;

}


.header ul li:hover {
    background-color: #a1b3d9;
    color: #ffffff;
    cursor:default;
    font-size: 15px;
}

.sub-menu{
    display: none;
}

.header ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: -15px;
}

.header ul li:hover .sub-menu ul{
    display: block;
}

.header ul li:hover .sub-menu ul li{
    border: none;
    text-align: left;
}

.header ul li:hover .sub-menu ul li:hover{
    background-color: #d3d3d3;
}

.header ul li:hover .sub-menu ul li a{
    color: #000000;
    font-size: 15px;
}

.question-div
{
    background-color: #e4f0f6;
    width: 100%;
    height: 450px;
}

.body
{
    width: 78%;
    margin: auto;
}

#search_head{
    padding-top: 0.5%;
}

#search_head img{
    vertical-align: text-bottom;
}



#search_head span{
    margin-left:1%;
    color: #a1b3d9;
    font-family: Arial, Helvetica, sans-serif;
}

#search_head span a{
    text-decoration: none;
    color: #a1b3d9;
}

#search_head span a:hover{
    color: #ffffff;
}

#search_head input{
    background: #29487d;
    margin-left: 5%;
    padding: 12px;
    padding-right: 40%;
    padding-left: 30px;
    border: 1px solid #29487d;
    border-radius: 5px;
    box-sizing: border-box;
    background-image: url(img/searchicon.png);
    background-repeat: no-repeat;
    background-size: 30px;
}

#search_head input text{
    padding-left: 100px;
}

#search_head h4{
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    margin-left: 1%;
}

h1{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 0%;
}

.questions ul{
    list-style-type: none;
    padding: 0;
    width: 90%;
    color: #ffffff;
}

.questions ul li{
    padding: 6px;
}

.questions ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: #4267b2;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.4;
    padding: 2.5%;
    display: inline-block;
}

.image, .questions{
    display: inline-block;
}

.popular-topics{
    margin-top: 2%;
}

.topics{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 350px;
    border: 1px solid lightgrey;
}

.topics img{
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 100%;
}

.topics span{
    font-family: Arial, Helvetica, sans-serif;
    color: #53b3eb;
    font-size: 12px;
    display: block;
    margin-left: 30px;
}

.topics h3 , article{
    margin-left: 30px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.topics h3{
    margin-top: 5px;
}

.topics article{
    font-size: 15px;
    color: #808080;
}

.topics a{
    text-decoration: none;
    color: black;
}

#about-profile, #about-pages, #about-messaging, #about-notifications{
    width: 25%;
    height: auto;
    border-right: 1px solid lightgrey;
}

#about-profile:hover, #about-pages:hover, #about-messaging:hover, #about-notifications:hover{
    background-color: #f1f3f4;
    cursor: pointer;
}

.facebook-community{
    text-align: center;
}


.facebook-community span{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
}

.community{
    display: flex;
    width: 60%;
    margin: auto;
}

#community , #business{
    border: 1 px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

#community:hover, #business:hover
{
    cursor: pointer;
}
.community p{
    color: #808080;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30%;
}

.footer{
    display: flex;
    margin-bottom: 3.5%;
}

.footer img{
    width: 29px;
    height: 30px;
    vertical-align: text-top;
}

.footer span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    margin-bottom:10%;
    color: #808080;
}

.footer a{
    text-decoration: none;
    color: #808080;
}

.footer a:hover{
    text-decoration: underline;
}

#footer-div1,#footer-div2,#footer-div3,#footer-div4{
    margin-left: 5%;
    margin-right: 6%;
}