#header ul{
    display: block;
    text-align: center;
}

#header ul li{
    border-right: none;
    width: 93%;
    border-bottom: black 2px solid;
}

#header ul li:last-child{
    border-bottom: none;
}

#header ul li:hover .sub-menu{
    margin-left: 30%;
    width: 30%;
}