*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    margin:auto;
    margin-top: 1%;
}

#header{
    background-color: #9fc4f8;
    text-align: center;
}

#header ul{
    display: inline-flex;
    list-style: none;
}

#header ul li{
    width: 120px;
    margin: 15px;
    padding: 10px;
    border-right: black 2px solid;
}

#header ul li:last-child{
    border-right: none;
}

#header ul li a{
    text-decoration: none;
    color: white;
}

#header ul li a:hover{
    color: blue;
}


#header ul li:hover {
    background-color: #b1ccf3;
    border-radius: 3px;
}

.sub-menu{
    display: none;
}

#header ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: #9fc4f8;
    margin-top: 15px;
    margin-left: -15px;
}

#header ul li:hover .sub-menu ul{
    display: block;
}

#header ul li:hover .sub-menu ul li{
    border-bottom: 2px solid black;
    border-right: none;
    width: 80%;
}

.main-content{
    background-color: #8d7cc2;
    height: 550px;
    margin-top: 0.5%;
}

.main-content img{
    width: 50%;
    float: left;
    margin: 3%;
}

.main-content p{
    width: 95%;
    padding-top: 2%;
    padding-left: 3%;
}