.form{
    display: flex;
}

input, span{
    display: block;
    margin-top: 8px;
    margin-left: 10px;
}

span{
    margin-top: 10px;
}

article{
    padding-top: 10px;
}

button{
    margin-top: 10px;
    position: absolute;
    margin-left: 30%;
    border-radius: 13px;
    padding: 3px;
    padding-right: 15px;
    padding-left: 15px;
}