<<<<<<< HEAD
/* Pre-defined */

=======
>>>>>>> fe1fa2a4f24ee5ce3ab256852ef396bcf6d100b1
body{
    position: static;
    margin-left: 1%;
    margin-top: 1%;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

<<<<<<< HEAD
button:hover{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.623);
}

img:hover{
    opacity: 0.8;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* Identifications */

#main{
    display: flex;
}

#text{
    width: 90%;
    margin: auto;
}

#mid-bottom{
    display: flex;
}

#mid-bottom-left , #mid-bottom-right{
    margin-left: 2%;
    margin-right: 2%;
}

#nav{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 25px;
}

#hr-head{
    border: 1px black solid;
=======



#main{
    display: flex;
}

#nav{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 25px;
>>>>>>> fe1fa2a4f24ee5ce3ab256852ef396bcf6d100b1
}

#left-block{
    display: inline-block;
    top: 0px;
    width: 13.5%;
    background-color: lightgrey;
}

#mid-content{
    margin-left: 1%;
    display: inline-block;
    width: 39%;
}

#right-block{
    display: inline-block;  
    margin-left: 1%;
    width: 22%;
}

#right-most-block{
    display: inline-block;
    margin-left: 1.5%;
    width: 22%;
}


/* Classes */

.header{
    display: flex;
}

.block-div{
    width: 97%;
    margin: auto
}

.drpdwn{
    position: relative;
    display: inline-block; 
}

.drpbtn{
    border: none;
    cursor: pointer;
    color: black;
}

.drpdwn-content{
    display: none;
    position: absolute;
    z-index: 3;
    width: auto;
    background-color: wheat;
}

.drpdwn:hover .drpdwn-content{
    display: block;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.897);
}
 
.blocks{
    display: flex;
}




.drpdwn{
    position: relative;
    display: inline-block; 
}

.drpbtn{
    border: none;
    cursor: pointer;
    color: black;
}

.drpdwn-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 50%;
    background-color: wheat;
}

.drpdwn:hover .drpdwn-content{
    display: block;
}

.content{
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.content div{
    margin-top: 2%;
}