.container{
    border: 2px solid black;
    width: 600px;
    height: 600px;
    margin: auto;
}

#top{
    height: 70%;
    border-bottom: 10px solid black;
    display: flex;
}

#top-right{
    background-color: red;
    width: 100%;
    height: 100%;
}

#top-left{
    width: 30%;
    height: 100%;
    border-right: 10px solid black;
}

#top-left-top{
    height: 40%;
    border-bottom: 20px solid black;
    background-color: blanchedalmond;
}

#top-left-bottom{
    height: 55%;
    border-bottom: 10px solid black;
    background-color: blanchedalmond;
}

#bottom{
    width: 100%;
    height: 28.4%;
    background-color: rebeccapurple;
    display: flex;
}

#bottom-left{
    width: 22.9%;
    height: 100%;
    background-color: darkcyan;
    border-right: 10px solid black;
}

#bottom-middle{
    width: 70%;
    border-right: 10px solid black;
    border-bottom: 4px solid black;
    height: 98.5%;
    background-color: blanchedalmond;
}

#bottom-right{
    width: 5%;
    height: 99%;
}

#bottom-right-top{
    width: 100%;
    height: 46%;
    border-bottom: 14px black solid;
    background-color: blanchedalmond;
}

#bottom-right-bottom{
    width: 100%;
    height: 46%;
    background-color: yellow;
}