body{
    margin-left: 15%;
}

#container{
    display: flex;
    height: 100%;
    width: 80%;
}

#row1{
    background-color: darkslategray;
    width: 35%;
    text-align: right;
}

#img{
    float: right; 
    margin-right: 5%
}

#row-text1, #row-text2, #row-text3{
    margin-right: 10%;
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
}

#row-text1{
    margin-top: 85%;
    color: floralwhite;
}

#row-text2{
    font-size: x-large;
}

.heading-content{
    font-family: Arial, Helvetica, sans-serif;
}

.sub-heading{
    color: grey;
    margin-top: 5%;
}

#head-button, #row-text3{
    background-color: darkslategray;
    color: white;
    border: 2px solid white;
}

#css{
    background-color: green;
    color: white;
    border: none;
    text-decoration: none;
}

#pure{
    background-color: blue;
    color: white;
    border: none;
    text-decoration: none;
}

#javascript{
    background-color: red;
    color: white;
    border: none;
    text-decoration: none;
}

#content{
    margin-top: 4%;
    margin-left: 4%;
    width: 80%;
}

