.container{
    margin: auto;
    width: 95%;
    height: 630px;
    border: 1px black solid;
    background-image: linear-gradient(to right, white,grey);
}

#top{
    margin: auto;
    margin-top: 10px;
    width: 95%;
    height: 93px;
    border: 1px black solid;
    background-color: white;
}

#middle{
    margin: auto;
    margin-top:10px ;
    margin-bottom:10px ;
    width: 95%;
    height: 400px;
    display: flex;
}

#middle-left{
    width: 50%;
    height: 100%;

}

#middle-left-top{
    display: flex;
    width: 100%;
    height: 125px;
}

#middle-left-top-left{
    width: 49%;
    margin-right: 1%;
    height: 125px;
    border: 1px black solid;
    background-color: white;
}

#middle-left-top-right{
    width: 49%;
    margin-left: 1%;
    height: 125px;
    border: 1px black solid;
    background-color: white;
}

#middle-left-bottom{
    margin-top: 12px;
    width: 100%;
    height: 261px;
    border: 1px black solid;
    background-color: white;
}

#middle-middle, #middle-right{
    margin-left: 1%;
    width: 24%;
    height: 100%;
}

#middle-middle-top, #middle-right-top{
    width: 100%;
    height: 125px;
    border: 1px black solid;
    background-color: white;
}

#middle-middle-middle, #middle-right-middle, #middle-right-bottom, #middle-middle-bottom{
    margin-top: 10px;
    width: 100%;
    height: 125px;
    border: 1px black solid;
    background-color: white;
}

#bottom{
    margin: auto;
    width: 95%;
    height: 93px;
    border: 1px black solid;
    background-color: white;
}