body{
    text-align: center;
    font-size: 30px;
}

header{
    text-align: center;
}

#container{
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 1100px;
    border: 1px black solid;
}

.circle{
    display: inline-block;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 1px black solid;
    border-radius: 100%;
}

.rectangle{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
    background-color: red;
    border: 1px black solid;
}

.triangle{
    content: url(img/triangle_PNG120.png);
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    height: 153px;
    border: 1px black solid;
}

.square{
    background-color: lawngreen;
    display: inline-block;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background-color: cyan;
    border: 1px black solid;
}

.cloud{
    content: url(img/25-250041_cloud-clipart-black-and-white-art-clip-cartoon.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 50px;
    width: 150px;
    border: 1px black solid;
}

.flowerPot{
    content: url(img/rose.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
    align-items: center;
    border: 1px black solid;
}

.tree{
    content: url(img/download.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    border: 1px black solid;
}


.crow{
    content: url(img/crow_PNG3114.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    border: 1px black solid;
}