body {
    text-align: center;
    font-size: 30px;
}

.container {
    margin: auto;
    width: 1000px;
}

header {
    text-align: center;
}

.inputDetails {
    margin: auto;
    text-align: left;
    width: 40%;
    padding: 8px;
    padding-left: 90px;
    font-size: 18px;
    background-color: #1289A7;
}

.submit{
    padding: 10px;
    margin-left: 130px;
}

.inputDetails label, input, button {
    padding: 5px;
}

.countdown-clock,
.score {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.scoreboard {
    display: none;
    font-size: 18px;
}

.play-area {
    display: none;
    height: 600px;
    width: 800px;
    border: 1px solid #000000;
    margin: auto;
    position: relative;
}

.red-circle {
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.violet-circle {
    background-color: violet;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.green-circle {
    background-color: #00ff00;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.yellow-circle {
    background-color: yellow;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.blue-circle {
    background-color: #0000ff;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

