#img{
    display: inline;
    position: relative;
    left: 25%;
}
body{
    border: 5px solid orangered;
}
#container{
    padding-top: 3%;
    margin: auto;
    width: 90%;
}
#personal_tags{
    display: inline-block;
    width: 30%;
}
#education{
    display: flex;
}

.hr{
    border-top: 3px solid brown;
}

.text{
    width: 100%;
    margin-left: 35%;
}

.text1{
    width: 100%;
    margin-left: 5.5%;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
}