 .header{
    background-color: #acd7e5;
    padding: 20px;
}

.header h1{
    font-size: xx-large;
    font-weight: bold;
}

.content{
    display: flex;
}

.content h2{
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}

.content h3{
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.content p{
    padding: 10px;
}

#left-content{
    width: 650%;
}

#left-content div{
    background-color: #90ed90;
    padding: 10px;
}

#left-content p,h2{
    background-color: white;
    height: 100%;
}

#right-content{
    background-color:#febfca;
}

#right-content p, h3{
    padding:10px
}