*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

button{
    padding: 2px;
}

.card {
    border-radius: 5px;

    margin: 10px auto 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.wrapper {
    width: 40%;
    padding: 8px;
    background-color: #1289A7;
}

label {
    color: #f1f1f1;
}

#age {
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.results {
    width: 80%;
}

.result_list {
    background-color: #dcdde1;
    padding: 5px 15px;
    color: #222;
}

.alternate_result_list {
    background-color: #f5f6fa;
}

.result_list_header {
    background-color: #e1b12c;
    margin-top: 10px;
    display: inline-block;
    color: #f1f1f1;
}